<div class="modal-card">
  <div class="modal-header">
    <h3>Cadastrar no uGroup</h3>
    <button type="button" data-modal-close class="modal-close">✕</button>
  </div>
  <div class="modal-body">
    <form method="post" action="{% url 'dashboard:ugroup_membro_adicionar' ugroup.pk %}">
      {% csrf_token %}
      <label for="{{ form.usuario.id_for_label }}">Usuário</label>
      {{ form.usuario }}
      <div class="modal-footer">
        <button class="submit" type="submit">Cadastrar</button>
      </div>
    </form>
  </div>
</div>